<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crustywalls.godotgoogleplaygamesservices">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotGooglePlayGamesServices"
            android:value="com.crustywalls.godotgoogleplaygamesservices.GodotGooglePlayGamesServices" />
    </application>

</manifest>